# fly.toml app configuration file generated for inventario-laravel-edi on 2026-01-06T21:20:00

app = "inventario-laravel-edi"
primary_region = "gru"

[build]
  [build.args]
    NODE_VERSION = "20"
    PHP_VERSION = "8.4"

# [deploy]
#   release_command = "php artisan migrate --force"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
  cpus = 1

[[mounts]]
  source = "inventario_data"
  destination = "/var/www/html/storage/database"

[env]
  PHP_EXTENSION_CONF_FILE = "/var/www/html/php-fpm.conf"
  SESSION_DRIVER = "cookie"
  LOG_CHANNEL = "stderr"
  DB_CONNECTION = "sqlite"
  DB_DATABASE = "/var/www/html/storage/database/database.sqlite"
